@use "/src/scss/base/variables.scss" as *;

.schedule {
    margin-top: 140px;

    &__title {
        border-bottom: 1px solid $yellow-color;
        padding-bottom: 40px;
    }

    &__tabs {
        display: flex;
        gap: 0;
    }

    &__content {
        color: white;
    }

    &__btn {
        background: transparent;
        border: 1px solid rgba(243, 169, 23, 1);
        width: 152px;
        height: 60px;
        color: $white-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 1%;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $yellow-color;
            color: $black-color;
        }

        &-active {
            background-color: $yellow-color;
        }
    }

    &__item {
        // color: $white-color;
        // display: flex;
        // flex-direction: column;
        // display: inline;
        display: flex;
        flex-direction: column;
    }

}

.swiper {
    margin-top: 88px;
    // margin-bottom: 100px;
    // display: flex;
    // flex-direction: column;
    width: 1520px;

    // &-wrapper {
    //     width: 100%;
    // }

    &-slide {
        background-color: $gray-color;
        border-radius: 10px;
        width: 350px;
        height: 341px;



    }

    &__title {
        color: $white-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1%;
        position: relative;

        // border-bottom: 1px solid $yellow-color;
        &::before {
            content: "";
            position: absolute;
            width: 278px;
            height: 1px;
            background-color: $yellow-color;
            top: 50px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;


        &:hover {
            background-color: $hover-gray;
            opacity: 0.5;
            z-index: 2;
            width: 100%;
            height: 100%;
            z-index: 15;
            box-shadow: 10px 10px 7px -1px $yellow-color;
            transition: all 0.3s;

            &::after {
                content: "WHATCH LIVE";
                text-align: center;
                align-content: center;
                width: 166px;
                height: 40px;
                background-color: $yellow-color;
                position: absolute;
                z-index: 555;
                top: 50%;
                transform: translateX(50%);
                opacity: 1;
            }
        }

    }


    // &__card-match {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }



    &__card-header {
        display: flex;
        gap: 74px;
        align-items: center;
        padding: 40px 30px 20px 30px;
    }

    &__date {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
    }

    &__day {
        color: $white-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1%;
    }

    &__time {
        color: $white-color;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 1%;
    }

    &__card-body {
        display: flex;
        flex-direction: column;
        gap: 15px;
        // margin-top: 55px;
        padding: 30.5px 31px;
    }

    &__team-logo {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        width: 50px;
        height: 50px;
    }

    &__teams,
    &__groups {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    &__team,
    &__group {
        color: $white-color;
        font-size: 20px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0%;
    }

    &__team-coef {
        padding: 5px 14px;
        width: 58px;
        height: 30px;
        color: $white-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 2%;
        text-transform: uppercase;
        border: 1px solid rgba(243, 169, 23, 1);
    }


    &__match {
        padding: 5px 14px;
        min-width: 98px;
        height: 30px;
        color: $white-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 2%;
        text-transform: uppercase;
        border: 1px solid rgba(243, 169, 23, 1);
    }

    &__start {
        display: flex;
        justify-content: space-between;

    }

    &__start-time {
        color: $light-gray-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1%;
        text-align: left;
    }

    &__sponsor {
        width: 58px;
        height: 15px;
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        width: 100%;
        // position: absolute;
        margin-top: 55px;
    }

    &-pagination-bullet {
        transform: translateY(-150%);
    }

    &-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $yellow-color;
        width: 15px;
        height: 15px;
    }

    &__prev,
    &__next {
        // position: absolute;
        // top: 50px;
        z-index: 50;
        color: $white-color;
        display: block;
        border: 1px solid $yellow-color;
        padding: 23.5px;
        border-radius: 100%;
        font-size: 30px;
        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &-pagination {
        color: $white-color;
        display: block;
    }
}