@use "/src/scss/base/mixins.scss" as *;
@use "/src/scss/base/variables.scss" as *;

.btn-default {
    @include button;
    width: 246px;
    height: 50px;

    &:hover {
        background-color: $yellow-color;
        color: $black-color;
    }

    &:active {
        background-color: $yellow-color;
        color: $white-color;
    }
}